.ffxiv-container {
  background-color: #1a1a1a;
  color: #e2c08d;
  padding: 10px;
  border: 2px solid #e2c08d;
  border-radius: 10px;
  font-family: 'Arial', serif;
  max-width: 500px;
  margin: auto;
}

.ffxiv-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.ffxiv-item-icon {
  width: 50px;
  height: 50px;
}

.ffxiv-h1 {
  font-size: 1.5em;
  color: #e2c08d;
  margin: 0;
}

.ffxiv-table {
  width: 100%;
  border-collapse: collapse;
}

.ffxiv-button {
    background-color: #333;
    color: #e2c08d;
    border: 1px solid #e2c08d;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.ffxiv-table td {
  padding: 5px;
  border: 1px solid #e2c08d;
}

.ffxiv-label {
  font-size: 1em;
}

.ffxiv-value {
  font-size: 1em;
}

.ffxiv-input {
  background-color: #333;
  color: #e2c08d;
  border: 1px solid #e2c08d;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.ffxiv-input::placeholder {
  color: #e2c08d;
}