.eorzeadb_link {
    color: goldenrod;
    text-decoration: none;
    position: relative;
}

.eorzeadb_link:hover {
    color: darkgoldenrod;
}

.no-underline {
  color: inherit;
  text-decoration: none;
}

.no-underline:hover {
  text-decoration: underline;
}