---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="You wanna know about me?"
	pubDate={new Date('July 24 2023')}
	heroImage="/603banner.png"
>
	<p>
		Hey! Welcome to the About page. I'm Pinapelz, a Software Engineering student at UCI.
		I mostly make random stuff, but you'll probably see a lot of vtuber related things (<a href="https://patchwork.moekyun.me/">patchwork archive</a>).
		Outside of that though I spend pretty much the remainder of my spare time programming random things or playing JRPGs/MMOs.
	</p>
	<h1>why this?</h1>
	<p>
		I thought it would probably be a good idea to have a place that documents some of my thought process since
		I have this fantastic habit of forgetting things, leaving braindead or no comments in my code, and generally just writing boilerplate
		Also it'd be nice to have a place where I can sort of archive my thoughts and ideas for future reference.
		<em>(plus I gotta work on my writing skills)</em>
	</p>
	<h1>stuff</h1>
	<p>
		A lot of the things I've experimented with or made are on my GitHub and webpage down below. I plan to keep this blog pretty casual though.
	</p>
</Layout>
