---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="You wanna know about me?"
	pubDate={new Date('July 24 2023')}
	heroImage="/603banner.png"
>
	<p>
		Hey! Welcome to the About page. I'm Pinapelz, a second-year Software Engineering student at the University of California, Irvine. 
		I'm a pretty avid <a href="https://en.wikipedia.org/wiki/VTuber">virtual youtuber (vtuber)</a> enjoyer so you may have seen me around or noticed a strange trend in the types of projects on my GitHub.
		Outside of that though I spend pretty much the remainder of my spare time programming random little doodads and playing a bunch of JRPGs and MMOs (it's uhh mostly just FFXIV and PSO2 though...)
	</p>
	<h1>why this?</h1>
	<p>
		I thought it would probably be a good idea to have a place that documents some of my thought processes and the things I've learned over time since
		I have this fantastic habit of forgetting things, leaving braindead or no comments in my code, and generally just writing boilerplate code <em>(plus I gotta work on my writing skills)</em>
	</p>
	<h1>what's this made with?</h1>
	<p>
		I was deliberating quite a bit about how I wanted to make the site. My web development experience is still fairly limited so I wasn't even too sure on what my options were.
		I ended up settling on <a href="https://astro.build">Astro</a> since it seems like it's pretty flexible with all the different frameworks you can integrate. I also like the idea of being able
		to write in markdown since it'll certainly make things easier on my fingers. Plus the idea of being able to run JSX in markdown seems pretty cool.
	</p>
	<h1>stuff</h1>
	<p>
		A lot of the things I've experimented with or made are on my <a href="https://github.com/pinapelz">GitHub</a>, I've also got a <a href="https://pinapelz.moe">LittleLink</a> that I try and regularly update with some of the stuff I've deployed
		as well as some ways of contacting me. You can also get to either at any time through the <i>hub</i> and <i>github</i> links at the footer of each page.
	</p>
</Layout>
