---
const today = new Date();
---

<footer>
	<a href="https://pinapelz.com">website</a> &middot; <a href="https://pinapelz.moe">hub</a> &middot; <a href="https://github.com/pinapelz">github</a> &middot; <a href="mailto:yukais@pinapelz.com">email</a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
